# Import CSV Data into Google Colab Notebook

This notebook provides an example of how to import a CSV file into Google Colab from Google Drive <br>
<br>

**Reference Books:**<br>
Dive Into Data Science by Bradford Tuckfield <br>
Website: https://nostarch.com/dive-data-science <br>
<br>

Pandas 1.x Cookbook, 2nd Edition, by M. Harrison and T. Petrou<br>
Website: https://www.packtpub.com/product/pandas-1x-cookbook-second-edition/9781839213106<br>
<br>

**Dataset Provider:**<br>
Capital Bikeshare <br>
The data was compiled and augmented by Hadi Fanaee-T and Joao Gama and posted online by Mark Kaghazgarian.<br>
Website: https://ride.capitalbikeshare.com/system-data <br>

## 1.0 Import typical data science libraries into python <br>
<br>
NumPy brings the computational power of languages like C and Fortran to Python, a language much easier to learn and use, for scientific computing.<br>
Website: https://numpy.org  <br>
<br>

Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language.<br>
Website: https://pandas.pydata.org <br>
<br>

MatPlotLib is a comprehensive library for creating static, animated, and interactive visualizations in Python.<br>
Website: https://matplotlib.org <br>
<br>
Run the codeblock below

In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## 2.0 Import data from Desktop to Google Colab
<br>
You may need to follow steps b - d each time you use the notebook.<br>
<br>
a. Go to the author's website and download the hour.csv data file to your desktop<br>
https://bradfordtuckfield.com/hour.csv<br>
b. Click on the file folder icon in Google Colab (center left of screen)<br>
c. Drag the hour.csv file from your desktop into Colab and drop it next to the sample drive folder.<br>
d. Run the codeblock below in order to see the first five lines of the dataset<br>

In [26]:
df = pd.read_csv('hour.csv')
df.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,count
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1