## Network Analysis

This notebook provides an example of how to analyze a network of friendships<br>
<br>
Reference Book:<br>
Data Science from Scratch by Joel Grus (there are two editions currently)<br>
https://www.oreilly.com/library/view/data-science-from/9781492041122/<br>
Github<br>
https://github.com/joelgrus/data-science-from-scratch<br>
<br>
Python IDE:<br>
Google Colab<br>
https://colab.research.google.com<br>
<br>
Made in April 2023<br>

This notebook uses the two datasets:


*   Users
*   Friendships

In [79]:
users = [
{ "id": 0, "name": "Hero" },
{ "id": 1, "name": "Dunn" },
{ "id": 2, "name": "Sue" },
{ "id": 3, "name": "Chi" },
{ "id": 4, "name": "Thor" },
{ "id": 5, "name": "Clive" },
{ "id": 6, "name": "Hicks" },
{ "id": 7, "name": "Devin" },
{ "id": 8, "name": "Kate" },
{ "id": 9, "name": "Klein" }
]

In [80]:
friendships = [
    ( 0 , 1 ),
    ( 0 , 2 ), 
    ( 1 , 2 ), 
    ( 1 , 3 ),
    ( 2 , 3 ),
    ( 3 , 4 ), 
    ( 4 , 5 ), 
    ( 5 , 6 ), 
    ( 5 , 7 ), 
    ( 6 , 8 ), 
    ( 7 , 8 ),
    ( 8 , 9 )
    ]

We start the analysis by creating an empty list called friends that we will add the results of our analysis to:

In [81]:
for user in users : user [ "friends" ] = []

Next we create a for loop to populate the friends list

In [82]:
#for user_id, num_friends in friendships:
    #users[user_id]["friends"].append(users[num_friends]) 
    #users[num_friends]["friends"].append(users[user_id]) 

for i, j in friendships:
    users[i]["friends"].append(users[j]) # add i as a friend of j
    users[j]["friends"].append(users[i]) # add j as a friend of i

Then we create function to calcuate the number of friends each user has

In [83]:
def number_of_friends ( user ): 
#how many friends does _user_ have?
    return len ( user [ "friends" ]) # length of friend_ids list 
    
total_connections = sum (number_of_friends(user) for user in users ) 
print(total_connections) # 24

24

Then we estimate the average number of connections for the whole network

In [84]:
from __future__ import division # integer division is lame 
num_users = len(users) # length of the users list 
avg_connections = total_connections/num_users 
print(avg_connections) # 2.4

2.4

The last step is to provide a breakout of the number of friends that each user has

In [85]:
# create a list (user_id, number_of_friends) 
#num_friends_by_id = [(user[ "id" ], number_of_friends(user)) for user in users]
num_friends_by_id = [(user["name"], number_of_friends(user)) for user in users]

#sorted(num_friends_by_id, 
       #key=lambda (user_id, num_friends): num_friends, 
       #reverse=True)

#sorted(num_friends_by_id, 
       #key=lambda (i, j): j, 
       #reverse=True)       

#sorted(num_friends_by_id,
       #key=lambda user_id: num_friends,
       #reverse=True)  

sorted(num_friends_by_id,
       key=lambda i: j,
       reverse=True)            

# each pair is (user_id, num_friends) 

# each pair is (i, j) 

# The answer is [(0, 2), (1, 3), (2, 3), (3, 3), (4, 2), (5, 3), (6, 2), (7, 2), (8, 3), (9, 1)]

[('Hero', 2),
 ('Dunn', 3),
 ('Sue', 3),
 ('Chi', 3),
 ('Thor', 2),
 ('Clive', 3),
 ('Hicks', 2),
 ('Devin', 2),
 ('Kate', 3),
 ('Klein', 1)]